:root {
    --red: #e84023;
    --black: #050504;
    --gray: #212221;
    --lightgray: #7a7a7a;
    --white: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui;
    user-select:none;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensure full viewport height */
    margin: 0;
}


.resume-main {
    background: var(--black);
    margin: 0 auto;
    width: 980px;
    margin-top: 300px;
    padding: 50px;
    position: relative;
    background-color: black;
    display: flexbox;
}

h1 {
    color: var(--white);
    font-size: 70px;
}

.loc1, .fb1{
    text-decoration: none;
    animation: blinking 1s infinite;
}

@keyframes blinking {
    10%{
        color: yellow;
    }
}
.p1 {
    color: var(--lightgray);
    font-size: 24px;
    margin-top: 10px;
    color: white;
    margin-left: -10px;
    width: 700px;
    text-align: justify;
}

.p2,a{
    color: gray;
    text-decoration: none;
}

.p2,a:hover{
    color: red;
}

.about {
    width: 50%;
    float: left;
}

.profile {
    width: 50%;
    float: left;
}

img{
    width: 50%;
    height: 50%;
}
.profile {
    width: 50%;
    text-align: center;
}

.icon-p {
    color: var(--white);
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.icon-p .fa {
    color: var(--white);
    padding-right: 10px;
}

.clearfix {
    clear: both;
}

h2 {
    color: var(--white);
    font-weight: normal;
    font-size: 20px;
    margin-top: 40px;
    text-transform: uppercase;
}

.box-1 {
    border: 1px solid var(--gray);
    width: 200px;
    height: 150px;
    float: left;
    position: relative;
    padding: 25px;
    display: flexbox;
}

.no {
    font-size: 14px;
    color: var(--lightgray);
    position: absolute;
    right: 10px;
    top: 10px;
}

h3 {
    color: var(--red);
    font-size: 26px;
    text-transform: uppercase;
}

.p2 {
    color: var(--lightgray);
    width: 170px;
}

.box-2 {
    border: 1px solid var(--gray);
    width: 200px;
    height: 150px;
    float: left;
    position: relative;
    padding: 25px;
}

.soft-img {
    width: 86%;
}

.ui {
    font-size: 80px;
    position: absolute;
    margin-bottom: 150px;
    color: transparent;
    bottom: 21%;
    right: -30%;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--red);
    transform: rotateZ(270deg);
}


